#div-arrastrable {
    position: fixed;
    z-index: 1000;  
}

/*Huella*/
#btn-huellita{
    cursor: pointer;
    width: auto; 
    height: 120px;
}

/*Menus*/
.lista-tutorVirtual{
    padding: 0;
    margin: 0;
    top: 0;
    width: 200px;
    background-color: white;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    position: absolute;
}

.lista-tutorVirtual li{
    padding: 8px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.submenu-1{
    visibility: hidden;
    z-index: 2;
}

.submenu-2{
    visibility: hidden;
    z-index: 3;
}

/*Listas*/
#listaPrincipal{
    top: -40%;
    display: none;
}

#listaActividades{
    width: 350px;
}

#listaRecursos{

}

#mensajeProfesor{
    width: 350px;

}

#preguntasFrecuentesPlataforma .submenu-2{
    width: 500px;
}

#preguntasFrecuentesPlataforma p{
    text-align: left;
    display: none;
}

#preguntasFrecuentesCurso .submenu-2{
    width: 500px;
}

#preguntasFrecuentesCurso p{
    text-align: left;
    display: none;
}

/*Elementos del Mensaje al profesor*/

#formulario{
    text-align: center;
}

#title{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#textfield{
    margin: 15px;
    width: 300px;
    height: 100px;
    border-radius: 2%;
}

.desc{
    text-align: center;
}

.boton{
    background-color: #0f6fc5;
    padding: 5px 10px;
    margin: 10px;
    color: white;
    border-radius: 8%;
    transition: background .2s ease-in-out;
}

/*Hover*/
.lista-tutorVirtual li:hover .submenu-1{
    visibility: visible;

}

.submenu-1 li:hover .submenu-2{
    visibility: visible;
}

.lista-tutorVirtual > li:hover{
    background-color: #C68D2A;
}

.lista-tutorVirtual li:hover > a {
    color: white;
    font-weight: bold;
}

.lista-tutorVirtual li:hover > p {
    color: white;
}

.boton:hover{
    background-color: #0d5da8;
}

#preguntasFrecuentesPlataforma li ul li a:hover + p{
    display: block;
    
}

#preguntasFrecuentesCurso li ul li a:hover + p{
    display: block;
    
}

/*Cursores*/
.cursor-default > li > a{
    cursor: default;
}

/*Scroll*/

.scroll{
    overflow-y: scroll;
    max-height: 300px;
}
