#div-arrastrable {
    position: fixed;
    z-index: 1000;  
}


/*Huella*/
#imagen{
    cursor: pointer;
    width: auto; 
    height: 120px;
}


/*Listas general*/
.ul-tutorvirtual{
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-top: 1px solid rgba(0,0,0,.125);
}

.ul-tutorvirtual li{
    position: relative;
    text-align: center;
    padding: 8px;
    list-style-position: inside;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.ul-tutorvirtual li {
    text-decoration: none;
    color: #333;
}


/*Listas*/
#menu{
    display: none;
    position: absolute;
    top:-40%;
}

#listaActs{
    width: 350px;
}


/*Menus desplegables*/
.dropdown, .dropdown2{
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    visibility: hidden;
    top: 0;
}

.dropdown{
    z-index: 2;
}

.dropdown2{
    z-index: 3;
}


/*Mensaje*/
#divMensaje{
    width: 350px;
}

#formulario{
    text-align: center;
}

#title{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#textfield{
    margin: 15px;
    width: 300px;
    height: 100px;
    border-radius: 2%;
}

.desc{
    text-align: center;
}

.boton{
    background-color: #0f6fc5;
    padding: 5px 10px;
    margin: 10px;
    color: white;
    border-radius: 8%;
    transition: background .2s ease-in-out;
}


/*Cursores*/
#menu > li > a{
    cursor: default;
}

#listaRecursos > li > a{
    cursor: default;
}

#divMensaje > li > a{
    cursor: default;
}

/*Hover*/
.ul-tutorvirtual li:hover{
    background-color: #C68D2A;
}

.ul-tutorvirtual li:hover > a {
    color: white;
}

.ul-tutorvirtual li:hover > p {
    color: white;
}

.ul-tutorvirtual li:hover .dropdown{
    visibility: visible;
}

.dropdown li:hover .dropdown2{
    visibility: visible;
}

.boton:hover{
    background-color: #0d5da8;
}


/*Scroll*/

.scroll{
    overflow-y: scroll;
    max-height: 300px;
}
